body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;

  width: 100%;
  height: 4em;
  background-color: #edefee;
}

nav > ul {
  display: flex;
  gap: 1em;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.hero {
  background-color: #495e57;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.hero-image-container {
  max-width: 200px;
  max-height: 260px;
}

.hero-img {
  width: 100%;
}

.menu-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 1em;
}

.menu-card {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.menu-image {
  width: 100%;
}
